---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

import '../styles/reset.css'
import '../styles/global.css'

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'

interface Props {
	title?: string
	description?: string
	image?: string
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = 'ogimage.png' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<link rel="mask-icon" href="/favicon.svg" color="#8D46E7" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Typography -->
<link rel="stylesheet" href="https://use.typekit.net/vyf8gxg.css" />

<!-- 
 ________  ___  _______   ________           ________  _______      ___    ___ ___  __    _______   ________   ________      
|\   __  \|\  \|\  ___ \ |\   ___  \        |\   __  \|\  ___ \    |\  \  /  /|\  \|\  \ |\  ___ \ |\   ___  \|\   ____\     
\ \  \|\  \ \  \ \   __/|\ \  \\ \  \       \ \  \|\ /\ \   __/|   \ \  \/  / | \  \/  /|\ \   __/|\ \  \\ \  \ \  \___|_    
 \ \   _  _\ \  \ \  \_|/_\ \  \\ \  \       \ \   __  \ \  \_|/__  \ \    / / \ \   ___  \ \  \_|/_\ \  \\ \  \ \_____  \   
  \ \  \\  \\ \  \ \  \_|\ \ \  \\ \  \       \ \  \|\  \ \  \_|\ \  /     \/   \ \  \\ \  \ \  \_|\ \ \  \\ \  \|____|\  \  
   \ \__\\ _\\ \__\ \_______\ \__\\ \__\       \ \_______\ \_______\/  /\   \    \ \__\\ \__\ \_______\ \__\\ \__\____\_\  \ 
    \|__|\|__|\|__|\|_______|\|__| \|__|        \|_______|\|_______/__/ /\ __\    \|__| \|__|\|_______|\|__| \|__|\_________\
                                                                   |__|/ \|__|                                   \|_________|
                                                                                                                                                                                                                                           
☞ website by allthis.digital 

-->
